@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui"{
   themes: light --default;
 };

:root,
[data-theme="light"] {
  --color-primary: #CAEB66;
  --color-secondary: #606060;
  --color-title: #03373D;
  --color-subtitle: #ACC857;
}


:root{
  background-color: #EAECED;
}
 body{
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  max-width: 80rem;
  margin: auto;
}

.reviews-swiper .swiper-slide{
  opacity: 0.4;
  transition: opacity 0.3s ease;
}

.reviews-swiper .swiper-slide-active {
  opacity: 1;
}